<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   <context:property-placeholder location="config.properties"></context:property-placeholder>
    <bean id="dsMysql"
          class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName">
            <value>${driverClassName}</value>
        </property>
        <property name="url">
            <value>${url}</value>
        </property>
        <property name="username">
            <value>${username}</value>
        </property>
        <property name="password">
            <value>${password}</value>
        </property>
        <!--  连接池启动时创建的初始化连接数量（不设定即为0）-->
        <property name="initialSize">
            <value>${initialSize}</value>
        </property>
        <!-- 连接池中可同时连接的最大的连接数（默认值为8) -->
        <property name="maxTotal">
            <value>${mysql.connectionPool.maxActive}</value>
        </property>
        <!-- 连接池中最小的空闲的连接数，低于这个数量会被创建新的连接 -->
        <property name="minIdle">
            <value>${mysql.connectionPool.minIdle}</value>
        </property>
        <!-- 连接池中最大的空闲的连接数，超过的空闲连接将被释放 -->
        <property name="maxIdle">
            <value>${mysql.connectionPool.maxIdle}</value>
        </property>
        <!-- 最大等待时间，当没有可用连接时，连接池等待连接释放的最大时间，超过该时间限制会抛出异常 -->
        <property name="maxWaitMillis">
            <value>${mysql.connectionPool.maxWait}</value>
        </property>
        <!-- removeAbandoned属性说明 -->
        <!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收（默认为false) -->
        <!-- 举例当maxActive=20, 活动连接为18,空闲连接为1时可以触发"removeAbandoned".但是活动连接只有在没有被使用的时间超 过"removeAbandonedTimeout(这里默认为300秒)"时才被回收 -->
        <!--  遇到数据库死锁。以前遇到过后端存储过程做了锁表操作，导致前台集群中连接池全都被block住，后续的业务处理因为拿不到链接所有都处理失败了。  -->
        <property name="removeAbandoned">
            <value>${mysql.connectionPool.removeAbandoned}</value>
        </property>
    </bean>
</beans>